.skill-container{
    gap: 60px;
    padding: 80px 100px;

}
.skill-content{
    flex-wrap: wrap;
    gap: 60px;
    width: 100%;
    
        
}
.skill-item{
    position: relative;
    width: 45%;
}
.skill-col-1{
    gap: 60px;

}
.flex-1{
    width: 100%;
}
.progress {
    border-radius: 0px;
    height: 6px;
    z-index: -1;
    opacity: 0.8;
    background-color: black;
}
.progress-bar{
    z-index:    1;
    position: relative;
    background-color: #f3ec78;
    opacity: 0.9;
    background-image:  linear-gradient(to right, #5be7b4, #b9f3f3);
    animation: progress 2000ms ease-in 1;
}
.dot{
    position: absolute;
    height: 14px;
    width: 14px;
    z-index: 5;
    opacity: 0.9;
    background-color: #b9f3f3;
    bottom: -4px;
    border-radius: 50%;
    animation: left 2000ms ease-in 1;
}
@keyframes left {
    from {
        left: 0;
    }
}

@keyframes progress {
            from {
                width: 0;
            }
        }
.skill-title{
    color: white;
    font-size: 20px ;
    font-weight: 700;
    margin-bottom: 10px !important;
}
@media(max-width:700px){
    .skill-container{
        padding: 80px 20px !important;
    }
    .skill-item{
        width: 100%;
    }
    .skill-content{
        gap: 60px !important;
        flex-direction: column !important;
    }
}