.bold-title{
    opacity: 0.7;
    background-color: #f3ec78;
    background-image: linear-gradient(to right, #5be7b4, #b9f3f3);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-size: 42px;
    font-weight: bold;
    word-spacing: 0.7rem;
}
.thin-title{
    opacity: 0.8;
    color: #92dec2;
    font-size: 20px;
    font-weight: 600;
    word-spacing: 0.4rem;

}
.medium-title{
    opacity: 0.8;
    word-spacing: 0.3rem;
    font-weight: bold;
    color: #92dec2;
    font-size: 25px;
}
.text{
    color: #a6bdc1;
    font-size: 18px;
    font-weight:300 !important;
    line-height: 30px;
    word-spacing: 3px;

}
.medium-text{
   
    font-size: 20px;
    color: rgb(185, 217, 224);
    font-weight: 600;
}


.flex-row-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flex-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flex-row-start{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.flex-column-start{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.background-dark{
    background-color: #22252c;
}
.background-grey{
    background-color: #313741;
}
.background-green-grad{
    background-color: #f3ec78;
    background-image: linear-gradient(to right, #5be7b4, #b9f3f3);
}
.background-green{
    opacity: 0.8;
    background-color: #5be7b4;
}
.border-clr{opacity: 0.8;
    border: #5be7b4 2px solid ;
}
@media (max-width:700px){
    .medium-text{
        font-size: 18px !important;
    }
    .medium-title{
        font-size: 22px !important;
    }
    .thin-title{
        font-size: 18px;
    }
    .text{
        word-spacing: 2px !important;
        font-size: 18px !important;
        line-height: 24px;
    }
    .bold-title{
        font-size: 32px;
    }
}