.profile-container{
    padding: 100px;
    gap: 50px;
}
.colunm-1{
    width: 45%;
}
.profile-item{
    flex: 1;
    gap: 40px;
}
.details-container {
    flex: 50%;
}
.image-container{
    width: 50%;
    position: relative;
    width: 360px;
    height: 410px;
    border-width: 10px;
    border-style:solid ;
    border-image:  linear-gradient(to bottom, rgba(12, 237, 173, 0.904), rgba(61, 11, 170, 0.73)) 1;
}
.profile-img{
    top: 40px;
    right: 40px;
    /* clip-path: inset(40px 50px 180px 0); */
    position: absolute;
}
.frame{
    transition: width 2s, height 4s;

    width: 360px;
    height: 410px;
    border-width: 10px;
    border-style:solid ;
    border-image:  linear-gradient(to bottom, rgba(12, 237, 173, 0.904), rgba(61, 11, 170, 0.73)) 1;
}
ul{
    padding-left: 0px;
}

li{
    padding-top: 3px;
    padding-bottom: 3px;
    list-style: none;
}
.my-interest{
    align-items: start;
    justify-content: center;
    margin-top: 30px;
    gap: 50px;
}
.icon-container{
    height: 140px;
    gap: 10px;
}
.icon{
   
    height: 90px;
    width: 90px;
    border-radius: 60px;
}
.int-name{
    font-size: 25px;
    color: white !important; 
    font-weight: 600;
    display: none;
}
.icon:hover + .int-name{
    display: block;
}
.icon:hover{
    background-color: #f3ec78;
    background-image:  linear-gradient(to bottom, #00f298, #07f7f7);
}
@media (max-width: 700px) {
    .profile-item {
        gap: 100px !important;
        flex-direction: column !important;
        
    }
    .details-container{
        width: 100%;
        flex: 100%;
            
    }
    .image-container{
        /* width: 100%; */
    }
   .column-1{
    width: 100%;
    flex: 100%;
   }
    .profile-container{
        padding: 100px 20px !important;
    }
    
    .icon{
   
        /* height: 60px;
        width: 60px;
        border-radius: 60px; */
    }
  }